In [692]:
my_name = "Jaciopico"
tutor_1_name = "Ottavia"
tutor_2_name = "Virginia"
student_1_name = "Killian"
student_2_name = "Sarah"
print(my_name)

Jaciopico

In [693]:
julia_age= 21
my_age=30
if julia_age > my_age:
    print("ojfes")
elif julia_age == my_age:
    print("jnd")
else:
    print("igr")

igr

In [694]:
my_list = [my_name, tutor_2_name, tutor_1_name, student_1_name, student_2_name]
my_list.sort()
print(my_list)
print(my_list[0])
print(my_list[-1])

['Jaciopico', 'Killian', 'Ottavia', 'Sarah', 'Virginia']
Jaciopico
Virginia

In [695]:
for student in my_list:
    print(student + " is in da house")

Jaciopico is in da house
Killian is in da house
Ottavia is in da house
Sarah is in da house
Virginia is in da house

In [696]:
customer_year_of_birth = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = 2021
customer_age_list = []
for customer_year in customer_year_of_birth:
    print(current_year - customer_year, "consecutive alive years")
    
    customer_age_list.append(current_year - customer_year)
print(customer_age_list)

22 consecutive alive years
26 consecutive alive years
16 consecutive alive years
11 consecutive alive years
14 consecutive alive years
15 consecutive alive years
27 consecutive alive years
25 consecutive alive years
42 consecutive alive years
13 consecutive alive years
[22, 26, 16, 11, 14, 15, 27, 25, 42, 13]

In [697]:
def calculate_age(customer_year_of_birth):
    for customer_year in customer_year_of_birth:
        print(current_year - customer_year, "consecutive alive years")
    
    customer_age_list.append(current_year - customer_year)

calculate_age(customer_year_of_birth)

22 consecutive alive years
26 consecutive alive years
16 consecutive alive years
11 consecutive alive years
14 consecutive alive years
15 consecutive alive years
27 consecutive alive years
25 consecutive alive years
42 consecutive alive years
13 consecutive alive years

In [698]:
customer_year_of_birth.sort()
descending_customer_year_of_birth= sorted(customer_year_of_birth , reverse=True)
print(customer_year_of_birth)
print(descending_customer_year_of_birth[-1])
print(descending_customer_year_of_birth[0])

[1979, 1994, 1995, 1996, 1999, 2005, 2006, 2007, 2008, 2010]
1979
2010

In [699]:
customer_list = [
    {"name": "Bob", "year": 1999},
    {"name": "Jack", "year": 1995},
    {"name": "Lisa", "year": 2005},
    {"name": "Maria", "year": 2010},
    {"name": "Ben", "year": 2007},
    {"name": "Emma", "year": 2006},
    {"name": "Oscar", "year": 1994},
    {"name": "Amy", "year": 1996},
    {"name": "Paul", "year": 1979},
    {"name": "Etta", "year": 2008}
]
customer_name_list = []

for customer in customer_list:
    customer_name_list.append(customer["name"])

customer_name_list.sort()
print(customer_name_list)

#customer_year_list_2 = []

for customer in customer_list:
    #print(customer)
    customer["age"] = current_year - customer["year"]
    #dicti["year"] = customer["year"]
    #customer_year_list_2.append(dicti)

print(customer_list)



for customer in customer_list:
    print(customer["name"] + " nato il " + str(customer["year"]) + " di anni consecutivi di vita " + str(customer["age"]))



#customer_year_list_2.sort(key=lambda a: a['year'])

['Amy', 'Ben', 'Bob', 'Emma', 'Etta', 'Jack', 'Lisa', 'Maria', 'Oscar', 'Paul']
[{'name': 'Bob', 'year': 1999, 'age': 22}, {'name': 'Jack', 'year': 1995, 'age': 26}, {'name': 'Lisa', 'year': 2005, 'age': 16}, {'name': 'Maria', 'year': 2010, 'age': 11}, {'name': 'Ben', 'year': 2007, 'age': 14}, {'name': 'Emma', 'year': 2006, 'age': 15}, {'name': 'Oscar', 'year': 1994, 'age': 27}, {'name': 'Amy', 'year': 1996, 'age': 25}, {'name': 'Paul', 'year': 1979, 'age': 42}, {'name': 'Etta', 'year': 2008, 'age': 13}]
Bob nato il 1999 di anni consecutivi di vita 22
Jack nato il 1995 di anni consecutivi di vita 26
Lisa nato il 2005 di anni consecutivi di vita 16
Maria nato il 2010 di anni consecutivi di vita 11
Ben nato il 2007 di anni consecutivi di vita 14
Emma nato il 2006 di anni consecutivi di vita 15
Oscar nato il 1994 di anni consecutivi di vita 27
Amy nato il 1996 di anni consecutivi di vita 25
Paul nato il 1979 di anni consecutivi di vita 42
Etta nato il 2008 di anni consecutivi di vita 13

In [700]:
List_ages_exercise_13 = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
List_ages_exercise_13.sort()

del List_ages_exercise_13[0 + -1]

print(List_ages_exercise_13)

[9, 11, 12, 13, 14, 20, 23, 24, 25]

In [701]:
list_berlin = [15, 13, 16, 18, 19, 10, 12 ]
list_munich = [7, 13, 15, 20, 19, 18, 10, 16]

list_berlin.sort()
list_munich.sort()

print(list_berlin)
print(list_munich)

list_berlin_as_set = set(list_berlin)
common_age = list_berlin_as_set.intersection(list_munich)

common_age_list = list(common_age)

print(common_age_list)

[10, 12, 13, 15, 16, 18, 19]
[7, 10, 13, 15, 16, 18, 19, 20]
[10, 13, 15, 16, 18, 19]

In [702]:
def welcome(fname, lname):
    print("welcome to cab " + fname + " " + lname + "!")
    print("happy coding")

welcome("Virginia", "Jaciopio")
welcome("Gino", "Panino")

welcome to cab Virginia Jaciopio!
happy coding
welcome to cab Gino Panino!
happy coding

In [703]:
def giovanni(name):
    print("welcome " + name + ", have a nice day!")

giovanni("evelyn")
giovanni("jost")

welcome evelyn, have a nice day!
welcome jost, have a nice day!

In [704]:
def giovanni(name_1, name_2, name_3):
    print("welcome " + name_1 + ", have a nice day!")
    print("welcome " + name_2 + ", have a nice day!")
    print("welcome " + name_3 + ", have a nice day!")

giovanni("evelyn", "jost", "jaciopio")

welcome evelyn, have a nice day!
welcome jost, have a nice day!
welcome jaciopio, have a nice day!

In [705]:
def giovanni(student):
    for student in my_list:
        print("welcome " + student + ", have a nice day!")
    

giovanni("student")

welcome Jaciopico, have a nice day!
welcome Killian, have a nice day!
welcome Ottavia, have a nice day!
welcome Sarah, have a nice day!
welcome Virginia, have a nice day!

In [706]:
def giovanni(customer):
    for customer in customer_list:
        print("welcome " + customer["name"] + ", have a nice day!")
    

giovanni("customer")

welcome Bob, have a nice day!
welcome Jack, have a nice day!
welcome Lisa, have a nice day!
welcome Maria, have a nice day!
welcome Ben, have a nice day!
welcome Emma, have a nice day!
welcome Oscar, have a nice day!
welcome Amy, have a nice day!
welcome Paul, have a nice day!
welcome Etta, have a nice day!

In [707]:
def calculate_sum(number_1, number_2):
    total = number_1 + number_2  
    return total

total_of_sum = calculate_sum(2,3)

def cumunicate_sum(total_of_sum):
    print("the result is: ", total_of_sum)

cumunicate_sum(total_of_sum)

the result is:  5

In [708]:
word_1 = "wendewundergeschichte"
word_2 = "precipitevolissimevolmente" 
word_3 = "eierschalensollbruchstellenverursacher"

random_list = [word_1, word_2, word_3]

def get_length_1(word_1):
    number_of_letters = len(word_1)
    return number_of_letters

def communicate_nember_of_letters(word_1):
    print("total ammount of letter is: " + str(get_length_1(word_1))) 

communicate_nember_of_letters(word_1)

total ammount of letter is: 21

In [709]:

def get_length_2(word_1, word_2, word_3):
    grand_total_letters = len(word_1) + len(word_2) + len(word_3)
    print("total ammount of letter is: ", grand_total_letters)

get_length_2(word_1, word_2, word_3)

total ammount of letter is:  85

In [710]:
def communicate_nember_of_letters_each_word(word_1, word_2, word_3):
    print("sedici orizzontale 3 parole:", len(word_1), len(word_2), len(word_3))

communicate_nember_of_letters_each_word(word_1, word_2, word_3)

sedici orizzontale 3 parole: 21 26 38

In [711]:
n=9

def check_even(n):
    if (n%2) == 0:
        print(n, "is even")
    else:
        print(n, "is not even")


check_even(n)

9 is not even

In [718]:
ctrl_age = 10

def age_in_the_customer_age_list(ctrl_age, list_berlin):
    # if ctrl_age in list_berlin:
    #     print("True")
    # else:
    #     print("Da ist Falzo!!")
    return ctrl_age in list_berlin

result_of_age_intersection = age_in_the_customer_age_list(10, [10, 12, 13, 15, 16, 18, 19])

def communicate_age_in_the_customer_age_list(result_of_age_intersection):
    print("Given a list of ages as follow:", list_berlin, "it is", result_of_age_intersection, "than", ctrl_age, "is in this list")

communicate_age_in_the_customer_age_list(result_of_age_intersection)

Given a list of ages as follow: [10, 12, 13, 15, 16, 18, 19] it is True than 10 is in this list

In [713]:
def get_length(world_1):
    number_of_letters = len(world_1)
    return number_of_letters

world_1 = get_length("wendewundergeschichte")

def communicate_nember_of_letters(world_1):
    print("total ammount of letter is: ", world_1) 

communicate_nember_of_letters(world_1)

total ammount of letter is:  21

In [714]:
#%reset